*{
    box-sizing: border-box;
}
body{
    background-color: lightblue;
    display:flex;
    justify-content: center;
    
}
ul{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    list-style-type: none;
    background-color: blue;
    color: wheat;
    width: 400px;
    padding: 20px 10px;
    border-radius: 4px;
    justify-content: center;
}
ul li{
    border: 2px solid white ;
    padding: 5px 10px;
    width: 100px;

}
.header{
    background-color: black;
    border: 1px solid white;
}